{% extends "base_template.html" %}
{% block main %}
    {% load static %}
    <iframe style="display:flex;justify-content: center;height: 720px;width: 1280px;margin-left:300px;border: solid;border-color: #1da1f2 ;border-radius:3%;border-style: outset"
            title="test - Page 1" width="600" height="373.5"
            src="https://app.powerbi.com/view?r=eyJrIjoiMzVkYzcwZTYtYTUxOC00NzFjLTgyZTQtMjcyZGUwMDhkZmE0IiwidCI6IjE5NGZjM2I2LWFlNjUtNDZhMy04MjQ0LTNkZmQzYzNjZDZmOSJ9&language=en"
            frameborder="0" allowFullScreen="true"></iframe>
{% endblock %}