{% extends "base_template.html" %}
{% block main %}
    {% load static %}
    {#    <div style="position: relative;">#}
    {#        <iframe style="display:flex;justify-content: center;height: 720px;width: 1280px;margin-left:300px;border: solid;border-color: #1da1f2 ;border-radius:3%;border-style: outset"#}
    {#                title="powerbi-pidev - Page 1" width="600" height="373.5"#}
    {#                src="https://app.powerbi.com/view?r=eyJrIjoiY2Q0ZGQ3NDYtOWJmNy00Y2JhLWI4YzUtNDE4ZTM3NzY0NDUwIiwidCI6IjE5NGZjM2I2LWFlNjUtNDZhMy04MjQ0LTNkZmQzYzNjZDZmOSJ9"#}
    {#                frameborder="0" allowFullScreen="true"#}
    {#        ></iframe>#}
    {#    </div>#}
{#    <iframe title="powerbi-pidev" width="600" height="373.5"#}
{#            style="display:flex;justify-content: center;height: 720px;width: 1280px;margin-left:300px;border: solid;border-color: #1da1f2 ;border-radius:3%;border-style: outset"#}
{#            src="https://app.powerbi.com/view?r=eyJrIjoiY2Q0ZGQ3NDYtOWJmNy00Y2JhLWI4YzUtNDE4ZTM3NzY0NDUwIiwidCI6IjE5NGZjM2I2LWFlNjUtNDZhMy04MjQ0LTNkZmQzYzNjZDZmOSJ9&pageName=ReportSection"#}
{#            frameborder="0" allowFullScreen="true"></iframe>#}
{##}
{#    </iframe>#}
    <iframe title="powerbi-pidev" width="600" height="373.5"
            style="display:flex;justify-content: center;height: 720px;width: 1280px;margin-left:300px;border: solid;border-color: #1da1f2 ;border-radius:3%;border-style: outset"
            src="https://app.powerbi.com/view?r=eyJrIjoiY2Q0ZGQ3NDYtOWJmNy00Y2JhLWI4YzUtNDE4ZTM3NzY0NDUwIiwidCI6IjE5NGZjM2I2LWFlNjUtNDZhMy04MjQ0LTNkZmQzYzNjZDZmOSJ9&pageName=ReportSection &language=en"
            frameborder="0" allowFullScreen="true"></iframe>
{% endblock %}